In [33]:
import pandas as pd

# TF-IDF 
# Cosine Similarity

In [2]:
df = pd.read_csv('cleaned_data.csv')
df['skills'] = df[['skills']].fillna(value='unknown')
df['about'] = df[['about']].fillna(value='unknown')
df['name'] = df[['name']].fillna(value='unknown')
df['provider'] = df[['provider']].fillna(value='unknown')

In [21]:
import nltk
from nltk.corpus import stopwords
from sklearn.feature_extraction.text import TfidfVectorizer
from nltk.stem import PorterStemmer, WordNetLemmatizer
from sklearn.metrics.pairwise import cosine_similarity
ps = PorterStemmer()
stop = stopwords.words('english')

dft = pd.read_csv('cleaned_data.csv')
dft['about'] = dft[['about']].fillna(value='unknown')
dft['about'] = dft['about'].str.replace('\d+', '')
dft['about'] = dft['about'].str.split(' ').apply(lambda x: [item for item in x if item not in stop])
dft['about'] = dft['about'].apply(', '.join)
v = TfidfVectorizer()
x = v.fit_transform(dft['about'])
dftx = pd.DataFrame(x.toarray(), columns=v.get_feature_names())
tfidf = pd.concat([dft, dftx], axis=1)

dft = pd.read_csv('cleaned_data.csv')
dft['name'] = dft[['name']].fillna(value='unknown')
dft['name'] = dft['name'].str.replace('\d+', '')
dft['name'] = dft['name'].str.split(' ').apply(lambda x: [item for item in x if item not in stop])
dft['name'] = dft['name'].apply(', '.join)
v = TfidfVectorizer()
x = v.fit_transform(dft['name'])
dftx1 = pd.DataFrame(x.toarray(), columns=v.get_feature_names())
tfidf1 = pd.concat([dft, dftx1], axis=1)

dft = pd.read_csv('cleaned_data.csv')
dft['skills'] = dft[['skills']].fillna(value='unknown')
dft['skills'] = dft['skills'].str.replace('\d+', '')
dft['skills'] = dft['skills'].str.split(' ').apply(lambda x: [item for item in x if item not in stop])
dft['skills'] = dft['skills'].apply(', '.join)
v = TfidfVectorizer()
x = v.fit_transform(dft['skills'])
dftx2 = pd.DataFrame(x.toarray(), columns=v.get_feature_names())
tfidf2 = pd.concat([dft, dftx2], axis=1)

In [24]:
dftx.to_csv("dftx.csv")
dftx =pd.read_csv('dftx.csv')

In [26]:
dftx1.to_csv("dftx1.csv")

In [27]:
dftx1 = pd.read_csv('dftx1.csv')

In [30]:
dftx2.to_csv("dftx2.csv")
dftx2 = pd.read_csv('dftx2.csv')

In [36]:
dftx.drop(columns=['Unnamed: 0']).head()

,_nsx_itautomation_reg,aa,aaflyg,aaron,aas,ab,abarca,abbreviation,abbreviations,abc,...,ìí,ìíì,ìíìê,íê,íì,íìì,íìí,íìíê,íí,ííì
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [37]:
dftx1.drop(columns=['Unnamed: 0']).head()

,abcs,abdomen,about,academy,accelerators,access,accin,accounting,achieving,acquisition,...,work,world,worlds,write,writing,you,young,your,èspssè,èè
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [38]:
dftx2.drop(columns=['Unnamed: 0']).head()

,abuse,academic,access,accessibility,accounting,active,acute,addiction,address,adhd,...,vpn,web,websites,wellbeing,whole,wind,wireshark,wordpress,writing,xml
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [39]:
#Cosine Similarity for description, name and skills
sim_a = cosine_similarity(dftx)
sim_n = cosine_similarity(dftx1)
sim_s = cosine_similarity(dftx2)

In [71]:
sim_a

array([[1.        , 0.05181216, 0.09935946, ..., 0.02666174, 0.        ,
        0.        ],
       [0.05181216, 1.        , 0.03383005, ..., 0.0837839 , 0.        ,
        0.        ],
       [0.09935946, 0.03383005, 1.        , ..., 0.02372969, 0.        ,
        0.        ],
       ...,
       [0.02666174, 0.0837839 , 0.02372969, ..., 1.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 1.        ,
        0.16792511],
       [0.        , 0.        , 0.        , ..., 0.        , 0.16792511,
        1.        ]])

In [40]:
sim_n

array([[1.00000000e+00, 0.00000000e+00, 0.00000000e+00, ...,
        3.90180596e-04, 0.00000000e+00, 0.00000000e+00],
       [0.00000000e+00, 1.00000000e+00, 6.32455532e-01, ...,
        7.07105027e-01, 7.07105035e-01, 7.07105043e-01],
       [0.00000000e+00, 6.32455532e-01, 1.00000000e+00, ...,
        8.94424973e-01, 8.94424983e-01, 8.94424992e-01],
       ...,
       [3.90180596e-04, 7.07105027e-01, 8.94424973e-01, ...,
        1.00000000e+00, 9.99995051e-01, 9.99995062e-01],
       [0.00000000e+00, 7.07105035e-01, 8.94424983e-01, ...,
        9.99995051e-01, 1.00000000e+00, 9.99995073e-01],
       [0.00000000e+00, 7.07105043e-01, 8.94424992e-01, ...,
        9.99995062e-01, 9.99995073e-01, 1.00000000e+00]])

In [41]:
sim_s

array([[1.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 1.        , 0.63245553, ..., 0.70728584, 0.70724598,
        0.70710504],
       [0.        , 0.63245553, 1.        , ..., 0.89442497, 0.89442498,
        0.89442499],
       ...,
       [0.        , 0.70728584, 0.89442497, ..., 1.        , 0.9999954 ,
        0.99999506],
       [0.        , 0.70724598, 0.89442498, ..., 0.9999954 , 1.        ,
        0.99999507],
       [0.        , 0.70710504, 0.89442499, ..., 0.99999506, 0.99999507,
        1.        ]])